<!-- forgotPasswordForm.hbs -->
<form id="forgotPasswordFormDiv" method="POST">
    {{> form id="forgotEmail" label="Email" name="forgotEmail" type="email" placeholder="Im.not@smart.com" autocomplete="email"}}
    <div>
        {{> button href='/login' text='Cancel'}}
    </div>
</form>