<!-- loginForm.hbs -->
<div id="loginFormDiv">
    <form id="loginForm" class="form" method="POST" action="/login">
        <h3>Log In</h3>
        {{> form id="email" label="Email" name="email" type="email" placeholder="Jackie.Chan@live.com" autocomplete="email" required=true autofocus=true}}
        {{> form id="password" label="Password" name="password" type="password" placeholder="*******************" autocomplete="current-password" required=true}}
        <div>
            <button>Log In</button>
        </div>
    </form>
    <div>
        {{> button href='/forgotPassword' text='Forgot Password?'}}
        {{> button href='/register' text='Don\'t have an account? Sign Up'}}
    </div>
</div>