h1, h2, h3, h4, h5, h6 {
    color: var(--on-primary);
    font-family: 'Arial', sans-serif;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    color: var(--secondary);
    background-color: var(--background);
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}