<!-- registrationForm.hbs -->
<div id="registrationFormDiv">
    <form id="registrationForm" class="form" method="POST" action="/register">
        <h3>Create an Account</h3>
        <div>
            {{> form id="firstName" label="First Name" name="firstName" type="text" placeholder="Jackie" required=true autofocus=true}}
            {{> form id="lastName" label="Last Name" name="lastName" type="text" placeholder="Chan" required=true}}
        </div>
        {{> form id="newEmail" label="Email" name="newEmail" type="email" placeholder="Jackie.Chan@live.com" required=true}}
        <div>
            {{> form id="newPassword" label="Password" name="newPassword" type="password" placeholder="> password >" required=true pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" oninvalid="this.setCustomValidity('Password length must be at least 8 characters.\nPassword must contain at least one uppercase letter.\nPassword must contain at least one lowercase letter.\nPassword must contain at least one number.')" oninput="this.setCustomValidity('')"}}
            {{> form id="confirmPassword" label="Confirm Password" name="confirmPassword" type="password" placeholder="< confirm <" required=true pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" oninvalid="this.setCustomValidity('Password length must be at least 8 characters.\nPassword must contain at least one uppercase letter.\nPassword must contain at least one lowercase letter.\nPassword must contain at least one number.')"}}
        </div>
        {{> form id="birthday" label="Date of Birth" name="birthday" type="date" min="1900-01-01" max="2022-12-31" title="Date of Birth" required=true}}
        <div>
            <label for="gender">Gender</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Mentally Uns┬─┬</option>
            </select>
        </div>
        <div>
            <button id="submit" type="submit">Sign Up</button>
            <button href="javascript:void(0)" onclick="window.location.href = '/login'" type="button">Cancel</button>
        </div>
    </form>
</div>