<!-- resetPasswordForm.hbs -->
<form id="resetPassword" action="/resetPassword" method="POST"
    class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-800 text-white px-4 py-8 rounded-lg shadow-md z-50 w-full max-w-sm">
    <div class="mb-2">
        <label for="resetToken" class="block mb-2 sr-only">Reset Token:</label>
        <input id="resetToken" name="resetToken" type="text" placeholder="Enter your reset token" required
            class="w-full h-10 px-3 mt-1 placeholder-gray-400 bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 focus:border-transparent">
    </div>
    <div class="mb-2">
        <label for="newPassword" class="block mb-2 sr-only">New Password:</label>
        <input id="newPassword" name="newPassword" type="password" placeholder="Enter your new password" required
            class="w-full h-10 px-3 mt-1 placeholder-gray-400 bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 focus:border-transparent">
    </div>
    <div class="flex space-x-2">
        <button id="resetButton"
            class="inline-flex items-center justify-center w-full h-10 px-4 mt-2 text-sm font-medium text-teal-500 bg-transparent ring-1 ring-gray-500 rounded-md hover:bg-gray-700" disabled>Reset</button>
    </div>
    <div id="timer" class="block mb-2 text-center text-teal-500 mt-4 bg-gray-700 p-2 rounded-md" style="font-size: 1.2em; font-weight: bold;"></div>
    <div id="expiredMessage" class="block mb-2 text-center text-red-500" style="display: none;">Your reset token has expired. Please request a new one.</div>
</form>

<script>
// resetPassword.js
window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    const expires = urlParams.get('expires');

    document.getElementById('resetToken').value = token;
    document.getElementById('resetButton').disabled = false;
    let expirationTime = new Date(expires).getTime();

    let countdown = setInterval(function() {
        let now = new Date().getTime();
        let distance = expirationTime - now;

        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById('timer').innerHTML = minutes + "m " + seconds + "s ";

        if (distance < 0) {
            clearInterval(countdown);
            document.getElementById('timer').innerHTML = '';
            document.getElementById('expiredMessage').style.display = "block";
            let resetButton = document.getElementById('resetButton');
            resetButton.disabled = true;
            resetButton.innerText = "Expired";
            resetButton.classList.remove('hover:bg-gray-700');
            resetButton.classList.add('cursor-not-allowed');
        }
    }, 1000);
}
</script>