<!-- post.hbs -->
<div class="post">
    <div class="post-header">
        {{{post_header}}}
    </div>
    <div class="post-actions">
        {{{post_actions}}}
    </div>
    <div class="post-content">
        <div class="comment-form">
            {{{comment_form}}}
        </div>
        {{#if comments}}
        <div class="comments">
            <h3 class="comments-title">Comments</h3>
            {{#each comments as |comment|}}
            <div class="comment">
                {{{comment}}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>