<!-- newPostForm.hbs -->
<div>
    <div>
        <textarea id="newPostTextarea" placeholder="Write a post..."></textarea>
    </div>
</div>
<script>
    const textarea = document.querySelector('#newPostTextarea');
    textarea.addEventListener('keydown', (event) => {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault();
            const newPostContent = event.target.value;
            if (newPostContent.trim() !== '') {
                fetch('/post', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain',
                    },
                    body: JSON.stringify({
                        content: newPostContent,
                        userId: {{{user_id}}}
                    }),
                })
                    .then((response) => {
                        if (response.ok) {
                            event.target.value = '';
                            window.location.reload();
                            return response.json();
                        }
                        throw new Error('Failed to send POST request');
                    })
                    .catch((error) => {
                        console.error('Failed to send POST request:', error);
                    });
            }
        }
    });
</script>