<!-- profile.hbs -->
<div>
    <header>
        <div>
            {{{profile_info}}}
        </div>
    </header>
    <main>
        <section>
            <div>
                {{{new_post_form}}}
            </div>
        </section>
        {{#if posts}}
        <!-- posts -->
        <section>
            {{#each posts as |post index|}}
            <article>
                {{{post}}}
            </article>
            {{/each}}
        </section>
        {{/if}}
        {{#if all_posts}}
        <!-- all_posts -->
        <button id="toggleAllPosts">
            Toggle All Posts
        </button>
        <section id="allPostsSection">
            {{#each all_posts as |post index|}}
            <article>
                {{{post}}}
            </article>
            {{/each}}
        </section>
        {{/if}}
    </main>
</div>
<script>
    window.addEventListener('load', function () {
        const toggleAllPostsButton = document.getElementById('toggleAllPosts');
        const allPostsSection = document.getElementById('allPostsSection');
        toggleAllPostsButton.addEventListener('click', function () {
            if (allPostsSection.style.display === 'none') {
                allPostsSection.style.display = 'grid';
            } else {
                allPostsSection.style.display = 'none';
            }
        });
    });
</script>